body {
  background-color: #FFFFFF;
  color:#555555;
  font-family: Arial, sans-serif;
}
h1 {
  background-color: #002171;
  color: #FFFFFF;
  margin-bottom: 0;
}
nav {
  background-color: #BBDEFB;
}
h2 {
  color: #1976D2;
}
dt {
  color: #002171;
}
.resort {
  color: #1076D2;
}